<section class="fill" data-ng-controller="HomeController">
	<div class="detail">
<!-- 		<button ng-click="addNew()">Add New</button>
		<form ng-submit="save()">
			<div><select ng-model="selectedItem.categrory" ng-options="opt for opt in categroryOptions" required/></div>
			<div><select ng-model="selectedItem.level" ng-options="opt for opt in levelOptions" required/></div>
			<div><input ng-model="selectedItem.title" type="text" required/></div>
			<div><input ng-model="selectedItem.summary" type="text"/></div>
			<button type="submit">Save</button>
		</form>
		<button ng-click="isPaused = !isPaused">{{ isPaused ? 'Start' : 'Pause' }}</button> -->
		<h3>
			{{ selectedItem.title }}
		</h3>
		<p>
			{{ selectedItem.summary }}
		</p>
	</div>
	<div class="fill radar">

	</div>
</section>